.container{
    size: auto;
    background-color: #ff5b00;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.choose{
   list-style-type: none;
   display: flex;
   justify-content: space-between;
  
}
.img-boolean{
    width: 120px;
}
.boolean{
    display: flex;
    
}
i{ font-size: 30px;

}
.first-card{
    display: flex;
    align-content: center;
}
.second-card{
    display: flex;
    align-content: center;
}